/* dm-serif-display-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/dm-serif-display-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/open-sans-v35-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	--gap: 1.5rem;
	--spacing-double: 3rem;
	--spacing-thin: 1rem;
	--column: 280px;
	--color-royal-blue: #062a78;
	--color-light-blue: #647CA4;
	--color-golden: #D1A617;
	--color-red: #95190C;
	--color-white: #F7F8FF;
	--font-family-heading: 'DM Serif Display', serif;
	--font-family-body: 'Open Sans', sans-serif;
	--fa-border-width:40px;
	--fa-border-color: rgb(39, 147, 0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: 100%;
}

picture {
	display: block;
}

a, a:visited {
	color: inherit;
}

:not(p, span, strong, em)>a {
	text-decoration: none;
}

i {
	color: black;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

p:not(.no-padding-bottom) {
	padding-bottom: var(--spacing-thin);
}

/* font */
html {
	color: black;
	font-family: var(--font-family-body);
	font-size: 16px;
	line-height: 1.5;
}

button {
	font-family: var(--font-family-body);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: var(--font-family-heading);
}

h1, .h1 {
	font-size: clamp(2rem, 4vw, 4rem);
	line-height: 1.3;
}

h2 {
	font-size: 1.6rem;
}
.h2 {
	font-size: clamp(1.4rem, 2vw, 1.6rem);
}
h2[class="padding-bottom"]{
	padding-bottom: var(--gap);
}
h2:after {
    content: "";
    display: block;
    width: 70%;
	padding-top: 10px;
    border-bottom: 2px solid var(--color-golden);
}

h3, .h3 {
	font-size: 1.3rem;
	line-height: 1.3;
}

h4, .h4 {
	font-weight: bold;
}

h5, .h5 {
	font-size: 14px;
}

/* composition */
nav {
	display: flex;
	padding: 0 var(--spacing-double);
	max-width: 1250px;
	max-height: 160px;
	margin: auto;
}

nav > * {
	padding: var(--gap);
}

body > div {
	max-width: 100%;
	justify-content: center;
}

main > section {
	padding: var(--spacing-double) 0 var(--gap) 5vw;
}

.container-catalogue {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-double);
	padding: var(--gap) 5vw;
}

.aside-catalogue {
	flex-grow: 1;
	flex-basis: 30ch;
}

.main-catalogue {
	flex-basis: 50ch;
	flex-grow: 5;
}

body > footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-double);
	gap: var(--spacing-double);
	background-color: var(--color-royal-blue);
	color: var(--color-white);
}

/* icons */
.svg-icon {
	display: inline-block;
	height: 100vh;
}

.search-icon {
	width: 20px;
	height: 20px;
}

.right-arrow {
	width: 32px;
	height: 22px;
}

.like-button{
	width: 55px;
	height: 50px;	
	padding-top: 5px;
}

.like-button:hover .like-button-path {
	stroke: var(--color-red);
}

/* form */
button {
	padding: 10px;
	border-radius: 8px;
	color: var(--color-white);
	background-color: var(--color-royal-blue);
	border: 2px solid var(--color-white);
	font-size: 1rem;
}

button:hover {
	cursor: pointer;
	color: var(--color-royal-blue);
	background-color: inherit;
	border: 2px solid var(--color-royal-blue);
}

button[type="reset"] {
	color: var(--color-red);
	background-color: inherit;
	border: 2px solid var(--color-red);
}

button[type="reset"]:hover {
	color: var(--color-white);
	background-color: var(--color-red);
}

button:hover[type="reset"] {
	color: var(--color-white);
	border: 2px solid var(--color-red);
}

form button {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

fieldset {
	border: none;
}

label, legend {
	width: 100%;
}

input, select {
	border: 0.5px solid;
	border-radius: 3px;
	display: block;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

input:invalid {
	border-color: red;
}

/* utilities */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--column), 1fr));
	gap: var(--gap);
	justify-items: center;
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
    justify-items: center;
}

.regular-rhythm>*+* {
	margin-top: var(--gap);
}

.uppercase {
	text-transform: uppercase;
}

.max-width60 {
	text-align: center;
	max-width: 60vw;
}

.carrousel {
	display: flex;
	gap: var(--gap);
	overflow: auto;
	padding: var(--gap) 1px;
}

.carrousel > * {
	min-width: var(--column);
	max-width: var(--column);
}


/* Scrollbar customisée */

/* Firefox */

.carrousel {
	scrollbar-width: auto;
	scrollbar-color: unset;
}

.carrousel:hover {
	scrollbar-color: #a3a3a3 #ffffff;
}

/* Chrome, Edge, Safari */
.carrousel::-webkit-scrollbar {
	background-color: transparent;
	height: 8px;
}

.carrousel::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.carrousel:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	border-radius: 15px;
}

/* media-query */
@media screen and (max-width: 900px) {
	nav {
		justify-content: center;
	}

	.nav-logo {
		flex-grow: 0;
	}

	.nav-burger{
        display: block; 
		width: fit-content;
		position: absolute;
		right: var(--gap);
		top: var(--spacing-double);
    }

    .nav-wrapper{
		width: 100%;
		position: absolute;
		top: 8rem;
		margin-top: -5px;
		transform: translateY(-620px);
		transition: transform 260ms ease-in-out;
		background-color: white;
		z-index: 1;
		gap: 0;
		padding: 0;
    }

	.nav-top {
		border-top: 1px solid #eee;
		display: flex;
		justify-content: center;
	}

	.nav-main {
		margin:0;
		display: block;
	}

    .nav-toggle:checked ~ .nav-wrapper{
		transform: translateY(0);
    }

    .nav-main a{
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
        width: 100%;
		border-top: 1px solid #eee;
    }

	.nav-main-dropdown {
		position: initial;
	}

	.nav-main-dropdown-content {
		width: 100%;
		max-width: 100%;
		font-size: inherit;
		padding: 0;
		position: initial;
	}

	.nav-main-dropdown:not(:hover) > .nav-main-dropdown-content {
		opacity: 1;
	}
}

/* nav */
.nav-logo {
	width: clamp(200px, 230px, 260px);
	flex-grow: 1;
	flex-shrink: 0;
	z-index: 2;
	background-color: white;
}

.nav-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	justify-content: flex-end;
	flex-grow: 2;
}

.nav-top {
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	justify-content: flex-end;
	color: var(--color-royal-blue);
	padding: 0.5rem;
}

.nav-top-language select {
	border: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

.nav-top-login {
	display: flex;
	gap: calc(var(--gap) / 2);
	align-items: center;
}

.nav-top-login > * + *:before {
	content: '|';
	padding-right: calc(var(--gap) / 2);
}

.nav-main {
	display: flex;
	gap: calc(var(--gap) * 2);
	justify-content: flex-end;
}

.nav-main-dropdown {
	position: relative;
}

.nav-main-dropdown-content {
	position: absolute; 
	top: 100%;
	width: max-content;
	max-width: 22ch;
	font-size: 1.3rem;
	text-transform: none;
	padding: 15px;
	background-color: white;
}

.nav-main a:hover {
	color: var(--color-red);
}

.nav-main-dropdown:not(:hover) > .nav-main-dropdown-content {
	pointer-events: none;
	opacity: 0;
}

.nav-main-dropdown:hover, .nav-main-dropdown-content:hover {
	z-index: 2;
}

/* burger menu */
.nav-burger{
    display: none;
    cursor: pointer;
}

.nav-toggle{
    display: none; 
}

.nav-burger > span{
    position: absolute;
    left: 0;
    background-color: black;
    height: 2px;
    width: 60%;
    transition: all 0.4s ease;
}

.nav-burger > span::before,
.nav-burger > span::after{
    content: '';
    position: absolute;
    top: -10px;
    background-color: black;
    height: 2px;
    width: 100%;
    transition: all 0.4s ease;
}

.nav-burger > span::after{
    top: 10px;
}

.nav-toggle:checked + .nav-burger > span{
    background-color: white;
}

.nav-toggle:checked + .nav-burger > span::before{
    top: 0;
    transform: rotate(45deg);
}

.nav-toggle:checked + .nav-burger > span::after{
    top: 0;
    transform: rotate(-45deg);
}

/* herobanner */
.herobanner {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
	color: var(--color-white);
	background-color: rgba(0,0,0,0.50);
}

.herobanner img {
	position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
	z-index: -1;
}

.herobanner-text {
	position: relative;
    padding: var(--spacing-double) var(--gap);
}

.herobanner-text > *+* {
	margin-top: var(--gap);
}

.herobanner p {
	font-size: 1.2rem;
}

.herobanner-searchbar {
	width: 100%;
}

.herobanner-searchbar svg {
	position: absolute;
	right: 35px;
	bottom: 60px;
	cursor: pointer;
}

.herobanner-searchbar input {
	width: 100%;
    margin-bottom: 3px;
}

/* catalogue-header */
.catalogue-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.catalogue-header li + li::before {
	content: "/";
	margin-right: 8px;
}

.catalogue-header li {
	margin-right: 8px;
}

.catalogue-header-ariane-active {
	font-weight: lighter;
}

.catalogue-header a:hover {
	font-weight: bold;
}

/* filter */
.filter {
	display: flex;
	flex-direction: column;
}

.filter-item {
	overflow: hidden;
	padding: calc(var(--gap) / 2) 0;
}

.filter-item:not(:last-of-type) {
	border-bottom: 1px solid #d3d9dfd4;
}

.filter-name {
	display: flex;
	justify-content: space-between;
	padding: calc(var(--gap) / 2) 0;
	cursor: pointer;
}

.filter-name::after {
	content: "❯";
	width: 1em;
    height: 1em;
	align-self: baseline;
    transition: all 0.3s ease-out 0s;
}

input:checked + .filter-name::after {
    transform: translate(2px, 8px) rotate(90deg);
}

.filter-country-checkbox > input {
	display: inline;
	width: fit-content;
	margin-right: 10px;
}

.filter-price-wrapper {
	display: flex;
	gap: calc(var(--gap) / 2);
}

.filter-price-field {
	display: flex;
	gap: calc(var(--gap) / 3);
}

.filter-form > footer {
	padding: calc(var(--gap) / 2) 0;
}

/* accordeon */
.filter-item > input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 0;
}
  
.filter-item > input[type=checkbox]:checked ~ div {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

/* cta */
.cta-wrapper {
	background-color: #f1f6ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);
	padding: var(--spacing-double) 5vw;
}

.cta-wrapper h2 {
	text-align: center;
}

.cta-wrapper h2::after {
	content: none;
}

.cta-wrapper img {
	width: 90px;
}

.cta-content {
	display: flex;
	flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}

.cta-content > div {
	flex-basis: 400px;
	flex-grow: 1;
	flex-shrink: 0;
}

.cta-content img {
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.cta-content a {
	text-decoration: underline;
}

.cta-wrapper a:hover {
	text-decoration: underline;
}

/* stampcard */
.stampcard {
	position: relative;
	top: 0;
	padding: var(--gap);
	border-radius: 6px;
	overflow: clip;
	max-width: var(--column);
}

.stampcard-list {
	display: grid;
	gap: calc(var(--gap) / 2);
	align-content: start;
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--column) + 3rem), 1fr));
	grid-auto-rows: auto 1fr;
	justify-content: stretch;
	max-width: none;
}

.stampcard h3 {
	text-align: left;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.stampcard picture {
	display: flex;
	height: 200px;
}

.stampcard picture>*:not(img) {
	display: contents;
}

.stampcard img {
	margin: auto;
}

.stampcard > div {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-thin);
	padding-top: var(--spacing-thin);
}

.stampcard-info-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stampcard-info > span {
	display: block;

}

.stampcard footer {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}

.stampcard-button-cta {
	flex: 3;
	padding: 10px;
	border: 1px solid var(--color-golden);
	border-radius: 8px;
	text-align: center;
}

.stampcard-button-cta:hover {
	color: white;
	background-color: var(--color-golden);
}

.stampcard-button-like {
	opacity: 0;
	position: absolute;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);
}

.grid .stampcard-button-like{
	right: var(--gap);
}

.carrousel .stampcard-button-like{
	right: var(--gap);
}

.stampcard-list .stampcard-button-like {
	left: calc(var(--gap) / 2);
	top: 7px;
}

.stampcard:hover .stampcard-button-like{
	opacity: 1;
}

.stampcard:hover {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}

.stampcard:hover h3 {
	color: var(--color-red);
}

/* footer */
.footer-logo{
	max-width: 250px;
}

.footer-main {
	max-width: 1250px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-double);
	justify-content: space-between;
}

.footer-main-content {
	flex-basis: 210px;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-thin);
}

.footer-main > :first-child {
	flex-basis: 350px;
	flex-grow: 1;
	flex-shrink: 0;
}

.footer-main a {
	display: block;
	font-style: italic;
}

body > footer a:hover {
	text-decoration: underline;
}